body{
    background-color: black;
}

.cont-4 {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    margin-top: 20px;
  }
  
  .fashion {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  
  .fashion-head {
    display: flex;
    padding: 20px;
    padding-bottom: 7px;
  }
  
  .fashion-heading {
    width: 100%;
    font-size: 25px;
    font-weight: 550;
  }
  
  .fashion-icon {
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 5px;
  }
  
  .fashion-cont {
    position: relative;
    width: 100%;
    height: 237px;
    overflow: hidden;
  }
  
  .fashion-card {
    max-height: 100%;
    width: 200px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    transition: 1s;
    position: absolute;
  }

  

.card-img {
    height: 140px;
}
  
  .card-img img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
  }
  
  .card-img img:hover {
    height: 140px;
  }
  
  .exc-img {
    height: 140px;
  }
  
  .exc-img img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 130px;
  }
  
  .exc-img img:hover {
    height: 140px;
    width: 190px;
  }
  
  .card-dis {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card-dis-1 {
    font-size: 17px;
    color: rgba(92, 91, 91, 0.89);
  }
  
  .card-dis-2 {
    font-weight: 550;
    font-size: 15px;
  }

  .margin {
    margin: 5px;
    font-size: 20px;
  }