.cont{
    z-index: 0;
}

.cont-in {
    margin: 0 16px;
}

.cont-1 {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.broad-head {
    height: 126px;
    display: flex;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.broad-head-cont {
    padding: 14px;
    height: 94px;
    font-family: 'DM Serif Display', serif;
    color: black;
}

.broad-head-cont-img {
    margin-bottom: 5px;
    margin-left: 13px;
    margin-right: 13px;
}

.grocery {
    height: 64px;
    width: 64px;
}

.cont-dis {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-slider {
    height: 265px;
    width: 100%;
    background-color: aqua;
    position: relative;
    overflow: hidden;
}

.sliders{
    position: relative;
    margin-bottom: 20px;
}

.slider {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

.nav {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 75px;
}

.nav button {
    font-size: 25px;
    padding: 5px;
    border: none;
    background-color: transparent;
    margin: 20px;
}

.nav button span {
    font-size: 40px;
}

.cont-2 {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    
  }
  
  .ad{
    padding: 10px 0 10px;
    width: fit-content  ;
    margin-left: 10px;
    background-color: white;
  }
  
  .ad img {
    height: 280px;
  }
  
  .elect {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  
  .elect-head {
    display: flex;
    padding: 20px;
    padding-bottom: 15px;
  }
  
  .ele-head {
    width: 100%;
    font-size: 25px;
    font-weight: 550;
  }
  
  .elect-icon {
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 5px;
  }
  
  .elect-cont {
    position: relative;
    width: 1100.83px;
    height: 237px;
    overflow: hidden;
  }
  
  .ele-card {
    max-height: 100%;
    width: 200px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    transition: 1s;
    position: absolute;
  }
  
  .first {
    margin-left: 15px;
  }
  
  .card-img {
    height: 140px;
  }
  
  .card-img img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
  }
  
  .card-img img:hover {
    height: 140px;
  }
  
  .exc-img {
    height: 140px;
  }
  
  .exc-img img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 130px;
  }
  
  .exc-img img:hover {
    height: 140px;
    width: 190px;
  }
  
  .card-dis {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card-dis-1 {
    font-size: 17px;
    color: rgba(92, 91, 91, 0.89);
  }
  
  .card-dis-2 {
    font-weight: 550;
    font-size: 15px;
  }
  
  .man-sl-btn {
    position: absolute;
    top: 160px;
    left: 10px;
    width: 100%;
    font-size: 25px;
}

.man-sl-btn button {
    border-radius: 50%;
    border: none;
    color: black;
    background-color: rgba(49, 49, 49, 0.7);
}

  #back {
    display: none;
    font-size: 25px;
  }

  #next {
    position: absolute;
    right: 25px;
    
  }

  .margin {
    margin: 5px;
    font-size: 25px;
  }

  .cont-3 {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    margin-top: 20px;
  }
  
  .toy {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  
  .toy-head {
    display: flex;
    padding: 20px;
    padding-bottom: 7px;
  }
  
  .toy-heading {
    width: 100%;
    font-size: 25px;
    font-weight: 550;
  }
  
  .toy-icon {
    background-color: blue;
    color: white;
    border-radius: 50%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 5px;
  }
  
  .toy-cont {
    position: relative;
    width: 100%;
    height: 237px;
    overflow: hidden;
  }
  
  .toy-card {
    max-height: 100%;
    width: 200px;
    margin: 10px;
    border: 1px solid #e0e0e0;
    display: inline-block;
    transition: 1s;
    position: absolute;
  }

  .man-sl-btn-toy {
    position: absolute;
    top: 160px;
    left: 10px;
    width: 100%;
    font-size: 25px;
  }
  
  #backToy {
    display: none;
  }

  .man-sl-btn-toy button {
    border: none;
    color: black;
    background-color: rgba(49, 49, 49, 0.7);
    border-radius: 50%;
}

#backToy {
    display: none;
    font-size: 25px;
}

#nextToy {
  position: absolute;
  right: 25px;    
}

.cont-4 {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  margin-top: 20px;
}

.fashion {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.fashion-head {
  display: flex;
  padding: 20px;
  padding-bottom: 7px;
}

.fashion-heading {
  width: 100%;
  font-size: 25px;
  font-weight: 550;
}

.fashion-icon {
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 5px;
}

.fashion-cont {
  position: relative;
  width: 100%;
  height: 237px;
  overflow: hidden;
}

.fashion-card {
  max-height: 100%;
  width: 200px;
  margin: 10px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  transition: 1s;
  position: absolute;
}

#backfashion {
  display: none;
  font-size: 25px;
}

#nextfashion {
  position: absolute;
  right: 25px;    
}